In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data11 = pd.read_csv("2011data\d2011.csv")

In [9]:
data121 = pd.read_csv('2011data\Q1.csv')
data122 = pd.read_csv('2011data\Q2.csv')
data123 = pd.read_csv('2011data\Q3.csv')
data124 = pd.read_csv('2011data\Q4.csv')

In [10]:
display(data121, data122, data123, data124)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,475,2012-01-01 00:04:00,2012-01-01 00:11:56,31245,7th & R St NW / Shaw Library,31109,7th & T St NW,W01412,Member
1,1162,2012-01-01 00:10:05,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00524,Casual
2,1145,2012-01-01 00:10:23,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00235,Member
3,485,2012-01-01 00:15:41,2012-01-01 00:23:46,31101,14th & V St NW,31602,Park Rd & Holmead Pl NW,W00864,Member
4,471,2012-01-01 00:15:42,2012-01-01 00:23:34,31102,11th & Kenyon St NW,31109,7th & T St NW,W00995,Member
...,...,...,...,...,...,...,...,...,...
361312,634,2012-03-31 23:53:22,2012-04-01 00:03:56,31007,Crystal City Metro / 18th & Bell St,31011,23rd & Crystal Dr,W00462,Casual
361313,623,2012-03-31 23:53:38,2012-04-01 00:04:02,31007,Crystal City Metro / 18th & Bell St,31011,23rd & Crystal Dr,W01158,Casual
361314,658,2012-03-31 23:54:15,2012-04-01 00:05:14,31600,5th & K St NW,31506,1st & Rhode Island Ave NW,W00891,Member
361315,194,2012-03-31 23:56:18,2012-03-31 23:59:33,31605,3rd & D St SE,31628,1st & K St SE,W01307,Member
361316,140,2012-03-31 23:59:26,2012-04-01 00:01:46,31011,23rd & Crystal Dr,31007,Crystal City Metro / 18th & Bell St,W01108,Member

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,192,2012-04-01 00:01:13,2012-04-01 00:04:26,31237,25th St & Pennsylvania Ave NW,31212,21st & M St NW,W00663,Member
1,978,2012-04-01 00:01:49,2012-04-01 00:18:08,31225,C & O Canal & Wisconsin Ave NW,31228,8th & H St NW,W00574,Member
2,843,2012-04-01 00:03:25,2012-04-01 00:17:28,31230,Metro Center / 12th & G St NW,31201,15th & P St NW,W00201,Member
3,408,2012-04-01 00:03:37,2012-04-01 00:10:26,31110,20th St & Florida Ave NW,31239,Rhode Island & Connecticut Ave NW,W01060,Casual
4,163,2012-04-01 00:04:13,2012-04-01 00:06:57,31104,Adams Mill & Columbia Rd NW,31112,Harvard St & Adams Mill Rd NW,W01071,Casual
...,...,...,...,...,...,...,...,...,...
566827,166,2012-06-30 23:58:05,2012-07-01 00:00:52,31212,21st & M St NW,31246,M St & Pennsylvania Ave NW,W20089,Member
566828,1374,2012-06-30 23:58:23,2012-07-01 00:21:18,31202,14th & R St NW,31622,13th & D St NE,W01244,Casual
566829,469,2012-06-30 23:58:30,2012-07-01 00:06:19,31101,14th & V St NW,31212,21st & M St NW,W00145,Member
566830,977,2012-06-30 23:59:03,2012-07-01 00:15:21,31611,13th & H St NE,31102,11th & Kenyon St NW,W01181,Member
566831,650,2012-06-30 23:59:27,2012-07-01 00:10:18,31503,Florida Ave & R St NW,31214,17th & Corcoran St NW,W01188,Member

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,420,2012-07-01 00:00:08,2012-07-01 00:07:09,31104,Adams Mill & Columbia Rd NW,31200,Massachusetts Ave & Dupont Circle NW,W01155,Member
1,268,2012-07-01 00:00:31,2012-07-01 00:05:00,31616,3rd & H St NE,31615,6th & H St NE,W00405,Member
2,494,2012-07-01 00:00:32,2012-07-01 00:08:46,31307,3000 Connecticut Ave NW / National Zoo,31113,Columbia Rd & Belmont St NW,W00942,Member
3,655,2012-07-01 00:01:34,2012-07-01 00:12:29,31007,Crystal City Metro / 18th & Bell St,31002,20th & Crystal Dr,W01121,Member
4,1681,2012-07-01 00:02:06,2012-07-01 00:30:08,31235,19th St & Constitution Ave NW,31222,New York Ave & 15th St NW,W01039,Casual
...,...,...,...,...,...,...,...,...,...
629912,470,2012-09-30 23:52:04,2012-09-30 23:59:55,31106,Calvert & Biltmore St NW,31234,20th & O St NW / Dupont South,W20002,Member
629913,1048,2012-09-30 23:53:57,2012-10-01 00:11:25,31626,15th St & Massachusetts Ave SE,31503,Florida Ave & R St NW,W01456,Member
629914,430,2012-09-30 23:58:23,2012-10-01 00:05:34,31111,10th & U St NW,31214,17th & Corcoran St NW,W00630,Member
629915,292,2012-09-30 23:59:13,2012-10-01 00:04:05,31623,Columbus Circle / Union Station,31604,3rd & H St NW,W00308,Member
629916,323,2012-09-30 23:59:56,2012-10-01 00:05:20,31610,Eastern Market / 7th & North Carolina Ave SE,31622,13th & D St NE,W01438,Member

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,611,2012-10-01 00:02:06,2012-10-01 00:12:17,31230,Metro Center / 12th & G St NW,31212,21st & M St NW,W00311,Member
1,612,2012-10-01 00:02:52,2012-10-01 00:13:05,31624,North Capitol St & F St NW,31251,12th & L St NW,W00137,Member
2,734,2012-10-01 00:06:34,2012-10-01 00:18:48,31234,20th & O St NW / Dupont South,31223,Convention Center / 7th & M St NW,W20125,Member
3,219,2012-10-01 00:07:27,2012-10-01 00:11:06,31106,Calvert & Biltmore St NW,31104,Adams Mill & Columbia Rd NW,W01451,Member
4,924,2012-10-01 00:07:28,2012-10-01 00:22:53,31109,7th & T St NW,31615,6th & H St NE,W00441,Member
...,...,...,...,...,...,...,...,...,...
470840,8630,2012-12-31 23:51:38,2013-01-01 02:15:29,31619,Lincoln Park / 13th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00704,Casual
470841,418,2012-12-31 23:56:19,2013-01-01 00:03:17,31101,14th & V St NW,31200,Massachusetts Ave & Dupont Circle NW,W00098,Member
470842,384,2012-12-31 23:56:35,2013-01-01 00:03:00,31101,14th & V St NW,31200,Massachusetts Ave & Dupont Circle NW,W01398,Member
470843,448,2012-12-31 23:58:20,2013-01-01 00:05:49,31613,Eastern Market Metro / Pennsylvania Ave & 7th ...,31607,14th & D St SE,W01301,Member
470844,251,2012-12-31 23:59:23,2013-01-01 00:03:34,31223,Convention Center / 7th & M St NW,31241,Thomas Circle,W01460,Member

In [4]:
data11

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual
...,...,...,...,...,...,...,...,...,...
1226762,300,2011-12-31 23:41:19,2011-12-31 23:46:20,31201,15th & P St NW,31214,17th & Corcoran St NW,W01459,Member
1226763,387,2011-12-31 23:46:43,2011-12-31 23:53:10,31223,Convention Center / 7th & M St NW,31201,15th & P St NW,W01262,Member
1226764,261,2011-12-31 23:47:27,2011-12-31 23:51:49,31107,Lamont & Mt Pleasant NW,31602,Park Rd & Holmead Pl NW,W00998,Member
1226765,2060,2011-12-31 23:55:12,2012-01-01 00:29:33,31205,21st & I St NW,31222,New York Ave & 15th St NW,W00042,Member
1226766,468,2011-12-31 23:55:56,2012-01-01 00:03:45,31221,18th & M St NW,31111,10th & U St NW,W01319,Member

In [14]:
data124.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470845 entries, 0 to 470844
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Duration              470845 non-null  int64
 1   Start date            470845 non-null  object
 2   End date              470845 non-null  object
 3   Start station number  470845 non-null  int64
 4   Start station         470845 non-null  object
 5   End station number    470845 non-null  int64
 6   End station           470845 non-null  object
 7   Bike number           470845 non-null  object
 8   Member type           470845 non-null  object
dtypes: int64(3), object(6)
memory usage: 32.3+ MB

In [18]:
df = [data121, data122, data123, data124, data11]
all = pd.concat(df, ignore_index=True)

In [22]:
all['Start date'] = pd.to_datetime(all['Start date'])
all['End date'] = pd.to_datetime(all['End date'])
all['Time'] = all['End date'] - all['Start date']
all['Member type'] = all['Member type'].astype('category')

In [23]:
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3255678 entries, 0 to 3255677
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Duration              int64
 1   Start date            datetime64[ns]
 2   End date              datetime64[ns]
 3   Start station number  int64
 4   Start station         object
 5   End station number    int64
 6   End station           object
 7   Bike number           object
 8   Member type           category
 9   Time                  timedelta64[ns]
dtypes: category(1), datetime64[ns](2), int64(3), object(3), timedelta64[ns](1)
memory usage: 226.7+ MB

In [16]:
all.to_csv('all1112.csv', index=False)