In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
daily = pd.read_csv("dd_11-23.csv")
hourly = pd.read_csv('hd_11-23.csv')

In [3]:
dd = daily.copy()
hd = hourly.copy()

In [4]:
display(dd, hd)

,Date,Casual,Member,Total_rides,WMO code,temp(°C),atemp(°C),windspeed,season,Season,mnth,holiday,weekday,workingday,Weekday,weathersit,humidity(%),year
0,2021-01-01,371,590,961,63.0,2.3,-0.9,10.6,1,Winter,1,True,4,False,Friday,4,NaN,2021
1,2021-01-02,2874,2844,5718,61.0,7.6,4.8,19.1,1,Winter,1,False,5,False,Saturday,4,NaN,2021
2,2021-01-03,495,1133,1628,63.0,3.9,0.9,13.0,1,Winter,1,False,6,False,Sunday,4,NaN,2021
3,2021-01-04,907,2074,2981,3.0,4.1,1.0,13.3,1,Winter,1,False,0,True,Monday,1,NaN,2021
4,2021-01-05,1057,2004,3061,51.0,4.0,1.4,9.2,1,Winter,1,False,1,True,Tuesday,4,NaN,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637,2012-12-27,247,1867,2114,NaN,3.9,-1.0,37.8,1,Winter,12,False,3,True,Thursday,2,65.3,2012
1638,2012-12-28,644,2451,3095,NaN,3.9,0.8,16.8,1,Winter,12,False,4,True,Friday,2,59.0,2012
1639,2012-12-29,159,1182,1341,NaN,3.9,-0.0,13.4,1,Winter,12,False,5,False,Saturday,2,75.3,2012
1640,2012-12-30,364,1432,1796,NaN,4.0,-0.7,37.8,1,Winter,12,False,6,False,Sunday,1,48.3,2012
1641,2012-12-31,439,2290,2729,NaN,2.1,-1.2,16.7,1,Winter,12,False,0,True,Monday,2,57.8,2012

,Date,season,mnth,Hour,holiday,weekday,workingday,weathersit,temp(°C),atemp,humidity(%),windspeed,Casual,Member,Total_rides,Weekday,Season,WMO code,year
0,2011-01-01,1,1,0,False,5,False,1,3.3,3.0,81,0.0,3.0,13.0,16.0,Saturday,Winter,NaN,2011
1,2011-01-01,1,1,1,False,5,False,1,2.3,2.0,80,0.0,8.0,32.0,40.0,Saturday,Winter,NaN,2011
2,2011-01-01,1,1,2,False,5,False,1,2.3,2.0,80,0.0,5.0,27.0,32.0,Saturday,Winter,NaN,2011
3,2011-01-01,1,1,3,False,5,False,1,3.3,3.0,75,0.0,3.0,10.0,13.0,Saturday,Winter,NaN,2011
4,2011-01-01,1,1,4,False,5,False,1,3.3,3.0,75,0.0,0.0,1.0,1.0,Saturday,Winter,NaN,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39238,2021-02-19,1,2,3,False,4,True,4,-1.6,NaN,93,10.4,0.0,0.0,0.0,Friday,Winter,51.0,2021
39239,2021-03-14,1,3,2,False,6,False,1,2.9,NaN,56,13.9,0.0,0.0,0.0,Sunday,Winter,0.0,2021
39240,2022-01-04,1,1,2,False,1,True,1,-8.7,NaN,77,10.1,0.0,0.0,0.0,Tuesday,Winter,0.0,2022
39241,2022-03-13,1,3,2,False,6,False,1,-5.1,NaN,50,21.1,0.0,0.0,0.0,Sunday,Winter,0.0,2022
39242,2023-03-12,1,3,2,False,6,False,1,0.9,NaN,72,6.4,0.0,0.0,0.0,Sunday,Winter,0.0,2023

In [5]:
hd['weathersit'].unique()

array([1, 2, 3, 4], dtype=int64)

In [6]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1642 entries, 0 to 1641
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1642 non-null   object
 1   Casual       1642 non-null   int64
 2   Member       1642 non-null   int64
 3   Total_rides  1642 non-null   int64
 4   WMO code     911 non-null    float64
 5   temp(°C)     1642 non-null   float64
 6   atemp(°C)    1642 non-null   float64
 7   windspeed    1642 non-null   float64
 8   season       1642 non-null   int64
 9   Season       1642 non-null   object
 10  mnth         1642 non-null   int64
 11  holiday      1642 non-null   bool
 12  weekday      1642 non-null   int64
 13  workingday   1642 non-null   bool
 14  Weekday      1642 non-null   object
 15  weathersit   1642 non-null   int64
 16  humidity(%)  731 non-null    float64
 17  year         1642 non-null   int64
dtypes: bool(2), float64(5), int64(8), object(3)
memory usage: 208.6+ KB

In [12]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39243 entries, 0 to 39242
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         39243 non-null  datetime64[ns]
 1   season       39243 non-null  int64
 2   mnth         39243 non-null  int64
 3   Hour         39243 non-null  int64
 4   holiday      39243 non-null  bool
 5   weekday      39243 non-null  int64
 6   workingday   39243 non-null  bool
 7   weathersit   39243 non-null  int64
 8   temp(°C)     39243 non-null  float64
 9   atemp        17379 non-null  float64
 10  humidity(%)  39243 non-null  int64
 11  windspeed    39243 non-null  float64
 12  Casual       39243 non-null  float64
 13  Member       39243 non-null  float64
 14  Total_rides  39243 non-null  float64
 15  Weekday      39243 non-null  object
 16  Season       39243 non-null  object
 17  WMO code     21864 non-null  float64
 18  year         39243 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(7), int64(7), object(2)
memory usage: 5.2+ MB

In [8]:
dd['year'] = dd['yr'].apply(lambda value: '2011' if value == 0 else ('2012' if value == 1 else ('2021' if value == 2 else ('2022' if value == 3 else '2023'))))
hd['year'] = hd['yr'].apply(lambda value: '2011' if value == 0 else ('2012' if value == 1 else ('2021' if value == 2 else ('2022' if value == 3 else '2023'))))

KeyError: 'yr'

In [10]:
dd["Date"] = pd.to_datetime(dd['Date'])
hd["Date"] = pd.to_datetime(hd['Date'])

In [11]:
dd.drop(columns=['yr', 'instant'], inplace=True)
hd.drop(columns=['yr', 'instant'], inplace=True)

KeyError: "['yr', 'instant'] not found in axis"

In [19]:
hd['Casual'] = hd['Casual'].astype(int)
hd['Member'] = hd['Member'].astype(int)
hd['Total_rides'] = hd['Total_rides'].astype(int)

In [20]:
dd.to_csv('dd_11-23.csv', index=False)
hd.to_csv('hd_11-23.csv', index=False)

In [21]:
new1 = pd.read_csv('dd_11-23.csv')
new2 = pd.read_csv('hd_11-23.csv')

In [22]:
new2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39243 entries, 0 to 39242
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         39243 non-null  object
 1   season       39243 non-null  int64
 2   mnth         39243 non-null  int64
 3   Hour         39243 non-null  int64
 4   holiday      39243 non-null  bool
 5   weekday      39243 non-null  int64
 6   workingday   39243 non-null  bool
 7   weathersit   39243 non-null  int64
 8   temp(°C)     39243 non-null  float64
 9   atemp        17379 non-null  float64
 10  humidity(%)  39243 non-null  int64
 11  windspeed    39243 non-null  float64
 12  Casual       39243 non-null  int64
 13  Member       39243 non-null  int64
 14  Total_rides  39243 non-null  int64
 15  Weekday      39243 non-null  object
 16  Season       39243 non-null  object
 17  WMO code     21864 non-null  float64
 18  year         39243 non-null  int64
dtypes: bool(2), float64(4), int64(10), object(3)
memory usage: 5.2+ MB