In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
daily = pd.read_csv("dd_11-23.csv")
hourly = pd.read_csv('hd_11-23.csv')

In [4]:
dd = daily.copy()
hd = hourly.copy()

In [5]:
display(dd, hd)

,Date,Casual,Member,Total_rides,WMO code,temp(°C),atemp(°C),windspeed,season,Season,yr,mnth,holiday,weekday,workingday,Weekday,weathersit,instant,humidity(%)
0,2021-01-01,371,590,961,63.0,2.3,-0.9,10.6,1,Winter,2,1,True,4,False,Friday,4,NaN,NaN
1,2021-01-02,2874,2844,5718,61.0,7.6,4.8,19.1,1,Winter,2,1,False,5,False,Saturday,4,NaN,NaN
2,2021-01-03,495,1133,1628,63.0,3.9,0.9,13.0,1,Winter,2,1,False,6,False,Sunday,4,NaN,NaN
3,2021-01-04,907,2074,2981,3.0,4.1,1.0,13.3,1,Winter,2,1,False,0,True,Monday,1,NaN,NaN
4,2021-01-05,1057,2004,3061,51.0,4.0,1.4,9.2,1,Winter,2,1,False,1,True,Tuesday,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637,2012-12-27,247,1867,2114,NaN,3.9,-1.0,37.8,1,Winter,1,12,False,3,True,Thursday,2,727.0,65.3
1638,2012-12-28,644,2451,3095,NaN,3.9,0.8,16.8,1,Winter,1,12,False,4,True,Friday,2,728.0,59.0
1639,2012-12-29,159,1182,1341,NaN,3.9,-0.0,13.4,1,Winter,1,12,False,5,False,Saturday,2,729.0,75.3
1640,2012-12-30,364,1432,1796,NaN,4.0,-0.7,37.8,1,Winter,1,12,False,6,False,Sunday,1,730.0,48.3
1641,2012-12-31,439,2290,2729,NaN,2.1,-1.2,16.7,1,Winter,1,12,False,0,True,Monday,2,731.0,57.8

,instant,Date,season,yr,mnth,Hour,holiday,weekday,workingday,weathersit,temp(°C),atemp,humidity(%),windspeed,Casual,Member,Total_rides,Weekday,Season,WMO code
0,1.0,2011-01-01,1,0,1,0,False,5,False,1,3.3,3.0,81,0.0,3.0,13.0,16.0,Saturday,Winter,NaN
1,2.0,2011-01-01,1,0,1,1,False,5,False,1,2.3,2.0,80,0.0,8.0,32.0,40.0,Saturday,Winter,NaN
2,3.0,2011-01-01,1,0,1,2,False,5,False,1,2.3,2.0,80,0.0,5.0,27.0,32.0,Saturday,Winter,NaN
3,4.0,2011-01-01,1,0,1,3,False,5,False,1,3.3,3.0,75,0.0,3.0,10.0,13.0,Saturday,Winter,NaN
4,5.0,2011-01-01,1,0,1,4,False,5,False,1,3.3,3.0,75,0.0,0.0,1.0,1.0,Saturday,Winter,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39238,NaN,2021-02-19,1,2,2,3,False,4,True,4,-1.6,NaN,93,10.4,0.0,0.0,0.0,Friday,Winter,51.0
39239,NaN,2021-03-14,1,2,3,2,False,6,False,1,2.9,NaN,56,13.9,0.0,0.0,0.0,Sunday,Winter,0.0
39240,NaN,2022-01-04,1,3,1,2,False,1,True,1,-8.7,NaN,77,10.1,0.0,0.0,0.0,Tuesday,Winter,0.0
39241,NaN,2022-03-13,1,3,3,2,False,6,False,1,-5.1,NaN,50,21.1,0.0,0.0,0.0,Sunday,Winter,0.0
39242,NaN,2023-03-12,1,4,3,2,False,6,False,1,0.9,NaN,72,6.4,0.0,0.0,0.0,Sunday,Winter,0.0

In [6]:
hd['weathersit'].unique()

array([1, 2, 3, 4], dtype=int64)

In [7]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1642 entries, 0 to 1641
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1642 non-null   object
 1   Casual       1642 non-null   int64
 2   Member       1642 non-null   int64
 3   Total_rides  1642 non-null   int64
 4   WMO code     911 non-null    float64
 5   temp(°C)     1642 non-null   float64
 6   atemp(°C)    1642 non-null   float64
 7   windspeed    1642 non-null   float64
 8   season       1642 non-null   int64
 9   Season       1642 non-null   object
 10  yr           1642 non-null   int64
 11  mnth         1642 non-null   int64
 12  holiday      1642 non-null   bool
 13  weekday      1642 non-null   int64
 14  workingday   1642 non-null   bool
 15  Weekday      1642 non-null   object
 16  weathersit   1642 non-null   int64
 17  instant      731 non-null    float64
 18  humidity(%)  731 non-null    float64
dtypes: bool(2), float64(6), int64(8), object(3)
memory usage: 221.4+ KB

In [10]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39243 entries, 0 to 39242
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instant      17379 non-null  float64
 1   Date         39243 non-null  datetime64[ns]
 2   season       39243 non-null  int64
 3   yr           39243 non-null  int64
 4   mnth         39243 non-null  int64
 5   Hour         39243 non-null  int64
 6   holiday      39243 non-null  bool
 7   weekday      39243 non-null  int64
 8   workingday   39243 non-null  bool
 9   weathersit   39243 non-null  int64
 10  temp(°C)     39243 non-null  float64
 11  atemp        17379 non-null  float64
 12  humidity(%)  39243 non-null  int64
 13  windspeed    39243 non-null  float64
 14  Casual       39243 non-null  float64
 15  Member       39243 non-null  float64
 16  Total_rides  39243 non-null  float64
 17  Weekday      39243 non-null  object
 18  Season       39243 non-null  object
 19  WMO code     21864 non-null  float64
 20  year         39243 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(8), int64(7), object(3)
memory usage: 5.8+ MB

In [8]:
dd['year'] = dd['yr'].apply(lambda value: '2011' if value == 0 else ('2012' if value == 1 else ('2021' if value == 2 else ('2022' if value == 3 else '2023'))))
hd['year'] = hd['yr'].apply(lambda value: '2011' if value == 0 else ('2012' if value == 1 else ('2021' if value == 2 else ('2022' if value == 3 else '2023'))))

In [9]:
dd["Date"] = pd.to_datetime(dd['Date'])
hd["Date"] = pd.to_datetime(hd['Date'])

In [ ]:
dd.drop(columns=['yr', 'instant'], inplace=True)
hd.drop(columns=['yr', 'instant'], inplace=True)

In [ ]:
dd.to_csv('dd_11-23.csv', index=False)
hd.to_csv('hd_11-23.csv', index=False)